@model List<CourseViewModel>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Courses</h5>
                
                @if (Model.Any())
                {
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Course Name</th>
                            <th>Price</th>
                            <th>Duration</th>
                                <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><img style="width: 72px" src="@item.Picture" class="img-thumbnail"/></td>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                                <td>@item.Feature.Duration</td>
                                <td>
                                    <a asp-controller="Courses" asp-action="Update" asp-route-id="@item.Id" class="btn btn-success">Update</a>

                                    <a asp-controller="Courses" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-success">Delete</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert alert-danger">
                        registered course not found
                    </div>
                }
            </div>
        </div>

    </div>
</div>
