@model FreeCourse.Web.Models.Basket.BasketViewModel


<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Basket</h5>
                
                @if (Model != null && Model.BasketItems.Any())
                {
                    <table class="table table-striped">
                        <tr>
                            <th>Course Name</th>
                            <th>Course Price</th>
                            <th>Actions</th>
                        </tr>
                        @foreach (var item in Model.BasketItems)
                        {
                            <tr>
                                <td>@item.CourseName</td>
                                <td>@item.GetCurrentPrice</td>
                                <td>
                                    <a class="btn btn-danger" asp-controller="Basket" asp-action="RemoveBasketItem" asp-route-courseId="@item.CourseId">Delete</a>
                                </td>
                            </tr>
                        }
                        @if (Model.HasDiscount)
                        {
                            <tr>
                                <td>Discount rate</td>
                                <td colspan="2">%@Model.DiscountRate.Value</td>
                            </tr>
                        }

                        <tr>
                            <td>@(Model.HasDiscount ? "Discounted Rate": "Total Price")</td>
                            <th colspan="2">@Model.TotalPrice TL</th>
                        </tr>
                    </table>

                    <form asp-controller="Basket" asp-action="ApplyDiscount">
                        @if (Model.HasDiscount)
                        {
                            <div class="alert alert-success">
                                @Model.DiscountCode "applied discount code"
                            </div>
                        }
                        @if (TempData["discountStatus"] != null && (bool)TempData["discountStatus"] == false)
                        {
                            <div class="text-danger">unvalid discount code</div>
                        }
                        
                        <div class="input-group mb-3">
                            <input type="text" name="DiscountApplyInput.Code" class="form-control"/>
                        </div>
                        <div asp-validation-summary="All"></div>
                        <button type="submit" class="btn btn-outline-secondary">Apply</button>
                    </form>

                }
                else
                {
                    <div class="alert alert-info">Basket empty</div>
                }

            </div>
        </div>
    </div>
</div>
